<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Days+One&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ice cream</title>
</head>
<body>
    <main>
        <header>
            <div class="container header-content-wrapper">
                <div class="header-content">
                    <nav>
                        <a href="#">
                            <img id="logo_img" src="/img/icelogo.com (1).png" alt="logo">
                        </a>
                        <ul>
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <li><a href="Authorization/Register">войти</a></li>
                            }
                            <li><a href="#">каталог</a></li>
                            <li><a href="#">корзина</a></li>
                            <li><a href="/IceCreamCreation/IceCreamCreation">конструктор</a></li>
                        </ul>
                    </nav>

                    <div class="header-content-text">
                        <p class="text-shadow">
                            создай <br>
                            <span>своё</span>
                            <br> мороженое
                        </p>

                        <a href="/IceCreamBuilder/IceCreamBuilder" class="main-create-btn shadow">создать</a>
                    </div>
                </div>

                <div class="header-image">
                    <img src="/img/pngwing.com.png" alt="ice cream">
                </div>
            </div>
        </header>
    </main>
</body>
</html>